*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;

    background-color: white;
    width: 100vw;
}
header{
    background-color: black;
    width: 100vw;

    height: 300px;

    color: white;

    text-align: center;
}

main{
    background-color: white;
    color: black;

    margin: 0;

    text-align: left;
}
p{
    text-indent: 1em;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
ul{
    list-style-type: none;
}
.image{
    text-align: center;
    box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.495);
    background-color: black;
    width: 100vw;
    height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img1{
    background-image: url(../imagens/background001.jpg);
    text-align: center;
}
#img2{
    background-image: url(../imagens/background002.jpg);
}
li{
    text-indent: 2em;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2em;
}
#img1 > ul, #img2 > ul{
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    width: 400px;
    text-indent: 0;
}
.image > ul > li{
    text-align: left;
}