body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    color: black;
    font-family: 'Cocogoose';
}
p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
