@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}
body, html{
    background-color: lightgray;
}

header{
    background-color: rgb(151, 151, 151);
}

header > h1 {
    padding: 10px;
    text-align: center;
}
span#burger{
    background-color: rgb(49, 49, 49);
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
}
span#burger:hover{
    background-color: white;
    color: black;
}
menu#itens {
    display: none;
}
menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(94, 94, 94);
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: rgb(143, 143, 143);
}

main{
    width: 90vw;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}