/* Configurações gerais*/

/* visual */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(125, 125, 125);
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.368);


}