body{
margin: 0;

}
header{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
margin: 0;
}
h1, h2{
    margin: 0;
}
a{
    text-decoration: none;
}
.A{
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}
