
.container {
    background: #151F30;
    border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 98vw;
  
  gap: 70vw;
  margin: auto;
}

.content {
    display: flex;
    justify-content: flex-end;
    width: 22vw;
    height: 40px;
gap: 0px;
   background-image: linear-gradient(90deg, #151F30, #E3371E);
   box-shadow: 5px 0px 5px #e3381e;
   border-radius: 4px;
   
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #3b0063;
    background-image: url(https://wallpapercave.com/wp/wp4676576.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    gap: 100px;
}
main{ background-color: #01000011;
box-shadow: 2px 2px 5px  #0b2552;
backdrop-filter: blur(1px);
width: 65vw; }

header{
background: #151f3076;
display: flex;
flex-direction: row;
gap: 20px;

}
header > input
{
background-color: #E3371E;
    width: 50vw;
    border-radius: 10px;

    padding: 0px;


}
header > a{
    
    

    border-radius: 10px;

    padding: 0px;
    
    font-size: 2.3em;
    text-decoration: none;
    color: #FF7A48;


}
header > label > a{
    
    margin-right: 25px ;

    border-radius: 10px;

    padding: 0px;
    
    font-size: 2.3em;
    text-decoration: none;
    color: #FF7A48;


}
