div.container {
display: grid;
grid-template-rows: repeat(3, 100px);
grid-template-columns: repeat(4, 1fr);
gap: 5px;
}

div.caixa1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: red;
    border-radius: 5px;
    border: 1px solid black;
}
div.caixa2 {
    background-color: green;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
    border: 1px solid black;
}
div.caixa3 {
    background-color: blue;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 5px;
    border: 1px solid black;
}