body {
    font-family:'Times New Roman', Times, serif;
    color: green;
    background-color:aquamarine;
}

h1 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

