/* estilo para tela */
* {
    margin: 10px;
    padding: 10px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
header{
    background-color: lightgray;
}

header > h1{
    text-align: center;
}
menu > ul{
    background-color: lightgray;
    list-style-type: none;
}

menu > li{
    background-color: rgb(142, 142, 142);
    list-style-type: none;
    color: white;
    padding: 10px;
}

article { 
    width: 600px;
    display: block;
    margin: auto;
}