body{

margin: 0;
height: 100vh;
}
#img1{ background-image: url(../imagens/wallpaper001.jpg);}
#img2{ background-image: url(../imagens/wallpaper004.jpg);}
#img3{ background-image: url(../imagens/wallpaper005.jpg);}
#img4{ background-image: url(../imagens/wallpaper006.jpg);}




header{
background-color: rgb(255, 0, 0);
min-height: 20vh ;

color: white;


}