p {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.fundo {
    border: 1px solid black;
display: flex;
gap: 0px;
padding: 0%;
align-self: flex-start;
justify-self: flex-start;


    position: fixed;
    z-index: -1;

    height: 100vh;
    width: 80vw ;

    background: linear-gradient(90deg, gray, white);
    border-radius: 11px;


}