body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: auto;
    padding: 0;
}
header {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
main {
    background-color: rgb(206, 134, 9, 0.69);
    padding: 30px;
    text-align: center;

    li {
        padding-right: 15px;
    }
}
footer {
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: auto;
    width: 50px;
    height: 50px;
    gap: 50px;
    border: 2px solid #000000;
}
div {
    background: rgb(206, 134, 9, 0.69);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    gap: 10px;
}
.box {
    background: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}